@charset "UTF-8";
/* Общие стили для всего документа */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стили для контейнера чата и боковой панели */
.main {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0) 80%), linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
}
.chat .messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.chat .message {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}
.chat .user-message {
  background-color: #fff;
  color: #000;
  align-self: flex-end;
  margin-left: auto;
}
.chat .interlocutor-message {
  background-color: #fff;
  color: #000;
  align-self: flex-start;
}
.chat .input-container {
  display: flex;
  padding: 20px;
  align-items: center;
}
.chat .input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.chat .input-container button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar {
  background-color: #fff;
}
.sidebar .chat-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar .chat-list .chat-item {
  display: flex;
  flex-direction: column;
  background-image: url("../img/user.png");
  background-size: 64px;
  border-radius: 100px;
  border: #3498db solid 2px;
  width: 64px;
  height: 64px;
}
.sidebar .chat-list .chat-active {
  background-color: #3498db;
}

.none {
  display: none;
}